.darklight-0-0-1 {
  overflow: hidden;
  position: relative;
}
body.dark-mode-animate .darklight-0-0-1>.light, .darklight-0-0-1>.dark {
  transition: opacity .3s, z-index .3s;
}
.darklight-0-0-1>.dark {
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  position: absolute;
}
body.dark .darklight-0-0-1>.dark {
  opacity: 1;
  z-index: 1;
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .darklight-0-0-1>.dark {
    opacity: 1;
    z-index: 1;
  }
}
  body.dark .darklight-0-0-1>.light {
    opacity: 0;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .darklight-0-0-1>.light {
    opacity: 0;
  }
}
  .button-0-0-2 {
    color: white;
    border: 2px solid #363062;
    cursor: pointer;
    height: 40px;
    margin: 8px;
    display: inline-flex;
    outline: none;
    padding: 4px 16px;
    font-size: 16px;
    min-width: 96px;
    background: #363062;
    align-items: center;
    margin-right: 0;
    border-radius: 3px;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
  }
  body.dark-mode-animate .button-0-0-2 {
    transition: background .15s, color .15s, border-color .15s;
  }
  .button-0-0-2.icon {
    width: 40px;
    padding: 0;
    font-size: 24px;
    min-width: 0;
  }
  .button-0-0-2[disabled] {
    color: #f5f5f5;
    border: rgba(66, 66, 66, 0.35);
    background: rgba(66, 66, 66, 0.35);
  }
  body.dark .button-0-0-2 {
    color: black;
    background: #9399ff;
    border-color: #9399ff;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .button-0-0-2 {
    color: black;
    background: #9399ff;
    border-color: #9399ff;
  }
  body:not(.dark-mode-animate) .button-0-0-2[disabled] {
    color: #212121;
    border: rgba(238, 238, 238, 0.35);
    background: rgba(238, 238, 238, 0.35);
  }
}
  .button-0-0-2:hover:not([disabled]) {
    color: #363062;
    background: transparent;
    text-decoration: none;
  }
  body.dark .button-0-0-2:hover:not([disabled]) {
    color: #9399ff;
    background: transparent;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .button-0-0-2:hover:not([disabled]) {
    color: #9399ff;
    background: transparent;
  }
}
  body.dark .button-0-0-2[disabled] {
    color: #212121;
    border: rgba(238, 238, 238, 0.35);
    background: rgba(238, 238, 238, 0.35);
  }
a.button-0-0-2 {
  height: 28px;
}
a.button-0-0-2.icon {
  width: 36px;
  height: 36px;
}
  .watermark-0-0-3 {
    color: #424242;
    cursor: pointer;
    display: block;
    opacity: 0.2;
    font-size: 1px;
    transition: opacity .15s;
    text-decoration: none !important;
  }
  body.dark-mode-animate .watermark-0-0-3 {
    transition: opacity .15s, color .3s;
  }
  .watermark-0-0-3:hover {
    opacity: 1;
    text-decoration: none;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .watermark-0-0-3 {
    color: #eeeeee;
  }
}
  body.dark .watermark-0-0-3 {
    color: #eeeeee;
  }
  .watermark-0-0-3 svg {
    height: 2rem;
    margin: .25rem 0;
  }
  .watermark-0-0-3 svg g {
    fill: #424242;
  }
  body.dark-mode-animate .watermark-0-0-3 svg g {
    transition: fill .3s;
  }
  body.dark .watermark-0-0-3 svg g {
    fill: #eeeeee;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .watermark-0-0-3 svg g {
    fill: #eeeeee;
  }
}
  .header-0-0-4 {
    top: 0;
    right: 0;
    padding: 32px;
    z-index: 100;
    position: fixed;
    text-align: right;
  }
  .footer-0-0-5 {
    left: 0;
    right: 0;
    bottom: 0;
    height: 64px;
    display: flex;
    z-index: 102;
    position: fixed;
    background: rgba(245, 245, 245, 0.85);
    box-shadow: 0 -2px 6px rgba(0, 0, 0, .03);
    align-items: center;
    backdrop-filter: blur(12px);
    justify-content: center;
    -webkit-backdrop-filter: blur(12px);
  }
  body.dark-mode-animate .footer-0-0-5 {
    transition: background .3s;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .footer-0-0-5 {
    background: rgba(33, 33, 33, 0.85);
  }
}
  body.dark .footer-0-0-5 {
    background: rgba(33, 33, 33, 0.85);
  }
  .footer-0-0-5 .main {
    overflow: hidden;
    flex-grow: 1;
    text-align: center;
  }
  .footer-0-0-5 .left {
    padding-left: 32px;
  }
  .footer-0-0-5 .right {
    padding-right: 32px;
  }
@media screen and (max-width: 800px) {
  .footer-0-0-5 .left {
    padding-left: 16px;
  }
  .footer-0-0-5 .right {
    padding-right: 16px;
  }
}
  .footer-0-0-5 .main>.inside {
    display: inline-flex;
    overflow: auto;
    max-width: 100%;
    align-items: center;
  }
  .footer-0-0-5 .main>.inside hr {
    width: 2px;
    border: none;
    height: 16px;
    margin: 16px;
    background: #75757548;
  }
  .footer-0-0-5 .main>.inside a {
    text-decoration: none;
  }
  .footer-0-0-5 .main>.inside a:hover {
    text-decoration: underline ;
  }
  body.dark-mode-animate .footer-0-0-5 .main>.inside hr {
    transition: background .3s;
  }
  body.dark .footer-0-0-5 .main>.inside hr {
    background: #eeeeee48;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .footer-0-0-5 .main>.inside hr {
    background: #eeeeee48;
  }
}
  .toc-0-0-6 {
    top: 0;
    left: 0;
    width: calc(50vw - 464px);
    bottom: 0;
    display: flex;
    z-index: 101;
    position: fixed;
    transform: translateX(-50vw);
    background: #f1f1f1;
    border-right: 1px solid #e7e7e7;
    flex-direction: column;
    padding-bottom: 64px;
  }
  body.dark-mode-animate .toc-0-0-6 {
    transition: background .3s, border-color .3s;
  }
  body.dark .toc-0-0-6 {
    background: #1f1f1f;
    border-color: #282828;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .toc-0-0-6 {
    background: #1f1f1f;
    border-color: #282828;
  }
}
@media screen and (max-width: 1200px) {
  .toc-0-0-6 {
    width: 100vw;
    transform: translateX(-110vw);
  }
}
  .toc-0-0-6.animated {
    transition: transform .3s;
  }
  .toc-0-0-6.active {
    transform: translateX(0);
  }
  .toc-0-0-6 p {
    margin: 0;
  }
  .toc-0-0-6 a {
    border: 1px solid transparent;
    display: block;
    padding: 8px;
    margin-left: -8px;
    border-right: none;
    margin-right: 1px;
    border-radius: 3px;
    text-decoration: none;
  }
  body.dark-mode-animate .toc-0-0-6 a {
    transition: border-color .3s, background .3s;
  }
  .toc-0-0-6 a:hover {
    background: #f5f5f5;
    text-decoration: none;
  }
  .toc-0-0-6 a.current {
    background: #f5f5f5;
    border-color: #e7e7e7;
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  body.dark .toc-0-0-6 a.current {
    background: hsl(0, 0%, 13.2%);
    border-color: #282828;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .toc-0-0-6 a.current {
    background: #212121;
    border-color: #282828;
  }
}
@media screen and (max-width: 1200px) {
  .toc-0-0-6 a.current {
    border-right: 1px solid;
    margin-right: -8px;
    border-radius: 3px;
  }
}
  body.dark .toc-0-0-6 a:hover {
    background: hsl(0, 0%, 13.2%);
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .toc-0-0-6 a:hover {
    background: hsl(0, 0%, 13.2%);
  }
}
  body.dark-mode-animate .toc-0-0-6.animated {
    transition: transform .3s, background .3s, border-color .3s;
  }
  .content-0-0-7 {
    padding: 32px;
    overflow: auto;
    flex-grow: 1;
    margin-right: -1px;
    padding-right: 0;
  }
@media screen and (max-width: 1200px) {
  .content-0-0-7 {
    margin-right: 0;
    padding-right: 32px;
  }
}
  .contentnav-0-0-9 {
    right: 0;
    width: calc(50vw - 496px);
    bottom: 96px;
    overflow: auto;
    position: fixed;
    font-size: 12px;
    max-height: 45vh;
    border-left: 1px dashed #75757548;
    margin-left: 64px;
    padding-left: 48px;
    scroll-behavior: initial;
  }
@media screen and (max-width: 1200px) {
  .contentnav-0-0-9 {
    display: none;
  }
}
  .contentnav-0-0-9 a {
    color: #424242;
    display: block;
    opacity: 0.2;
    text-decoration: none;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .contentnav-0-0-9 {
    border-color: #eeeeee48;
  }
  body:not(.dark-mode-animate) .contentnav-0-0-9 a {
    color: #eeeeee;
  }
  body:not(.dark-mode-animate) .contentnav-0-0-9 a:hover, body:not(.dark-mode-animate) .contentnav-0-0-9 a.active {
    color: #9399ff;
  }
}
  body.dark .contentnav-0-0-9 {
    border-color: #eeeeee48;
  }
  body.dark .contentnav-0-0-9 a {
    color: #eeeeee;
  }
  body.dark .contentnav-0-0-9 a:hover, body.dark .contentnav-0-0-9 a.active {
    color: #9399ff;
  }
  body.dark-mode-animate .contentnav-0-0-9 a {
    transition: color .3s, opacity .3s;
  }
  .contentnav-0-0-9 a:hover, .contentnav-0-0-9 a.active {
    color: #363062;
    opacity: 1;
  }
  .contentnav-0-0-9 a.h2 {
    margin-left: 12px;
  }
  .contentnav-0-0-9 a.h3 {
    margin-left: 24px;
  }
  .contentnav-0-0-9 a.h4 {
    margin-left: 36px;
  }
  .contentnav-0-0-9 a.h5 {
    margin-left: 48px;
  }
  .contentnav-0-0-9 a.h6 {
    margin-left: 60px;
  }
* {
  touch-action: manipulation;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
body {
  color: #424242;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  overflow-x: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
body.dark-mode-animate {
  transition: color .3s, background .3s;
}
a {
  color: #363062;
}
a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
body.dark-mode-animate a {
  transition: color .3s;
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) a {
    color: #9399ff;
  }
}
body.dark a {
  color: #9399ff;
}
.container {
  margin: 0 auto;
  padding: 96px 16px;
  max-width: 768px;
  transition: opacity .15s;
}
hr {
  border: none;
  margin: 64px;
  background: none;
  border-top: 1px solid #75757548;
}
body.dark-mode-animate hr {
  transition: border-color .3s;
}
body.dark hr {
  border-color: #eeeeee48;
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) hr {
    border-color: #eeeeee48;
  }
}
#-codedoc-toc hr {
  margin: 16px 0;
  margin-right: 32px;
}
blockquote {
  color: #757575;
  margin: 0;
  padding: 16px 40px;
  position: relative;
  background: #eeeeee;
  border-radius: 3px;
}
body.dark-mode-animate blockquote {
  transition: color .3s, background .3s;
}
blockquote:after {
  top: 16px;
  left: 16px;
  width: 8px;
  bottom: 16px;
  content: '';
  display: block;
  position: absolute;
  background: radial-gradient(circle at center, #e0e0e0 50%, transparent 52%),transparent;
  background-size: 4px 4px;
}
body.dark-mode-animate blockquote:after {
  transition: color .3s, background .3s;
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) {
    color: #eeeeee;
    background: #212121;
  }
  body:not(.dark-mode-animate) blockquote {
    color: #cacaca;
    background: #282828;
  }
  body:not(.dark-mode-animate) blockquote:after {
    background: radial-gradient(circle at center, #363636 50%, transparent 52%),transparent;
    background-size: 4px 4px;
  }
}
body.dark {
  color: #eeeeee;
  background: #212121;
}
body.dark blockquote {
  color: #cacaca;
  background: #282828;
}
body.dark blockquote:after {
  background: radial-gradient(circle at center, #363636 50%, transparent 52%),transparent;
  background-size: 4px 4px;
}
img {
  max-width: 100%;
}
iframe {
  width: 100%;
  border: none;
  background: white;
  border-radius: 3px;
}
code {
  color: #616161;
  padding: 4px;
  font-size: .85em;
  background: #eeeeee;
  border-radius: 3px;
}
body.dark-mode-animate code {
  transition: color .3s, background .3s;
}
body.dark code {
  color: #e0e0e0;
  background: #282828;
}
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) code {
    color: #e0e0e0;
    background: #282828;
  }
}
  .h-0-0-10.white {
    color: white;
  }
  .h-0-0-10.black {
    color: black;
  }
  .h-0-0-10.primary {
    color: #363062;
  }
  .h-0-0-10.primary-contrast {
    color: white;
  }
  .h-0-0-10.text {
    color: #424242;
  }
  .h-0-0-10.background {
    color: #f5f5f5;
  }
  body.dark .h-0-0-10.background {
    color: #212121;
  }
  body.dark .h-0-0-10.text {
    color: #eeeeee;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .h-0-0-10.text {
    color: #eeeeee;
  }
}
  body.dark .h-0-0-10.primary-contrast {
    color: black;
  }
  body.dark .h-0-0-10.primary {
    color: #9399ff;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .h-0-0-10.primary {
    color: #9399ff;
  }
}
  .heading-0-0-11 {
    cursor: pointer;
    position: relative;
  }
  .anchor-0-0-12 {
    top: 0;
    left: -32px;
    bottom: 0;
    display: flex;
    opacity: 0;
    position: absolute;
    transform: translateX(-8px);
    transition: opacity .1s, transform .1s;
    align-items: center;
    padding-right: 8px;
  }
  .heading-0-0-11:hover .anchor-0-0-12 {
    opacity: 0.5;
    transform: none;
  }
  .heading-0-0-11:hover .anchor-0-0-12:hover {
    opacity: 1;
  }
  body.dark .hero-0-0-13[data-mode="light"] {
    display: none;
  }
@media (prefers-color-scheme: dark) {
  body:not(.dark-mode-animate) .hero-0-0-13[data-mode="light"] {
    display: none;
  }
}
  body.dark-mode-animate:not(.dark) .hero-0-0-13[data-mode="dark"] {
    display: none;
  }
@media (prefers-color-scheme: light) {
  body:not(.dark-mode-animate) .hero-0-0-13[data-mode="dark"] {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .hero-0-0-13[data-target="desktop"] {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .hero-0-0-13[data-target="mobile"] {
    display: none;
  }
}
  .image-0-0-14 {
    width: 100vw;
    max-width: none;
    margin-left: calc(384px - 50vw);
  }
@media screen and (max-width: 768px) {
  .image-0-0-14 {
    margin-left: -16px;
  }
}
  .caption-0-0-15 {
    display: block;
    opacity: 0.35;
    font-size: 12px;
    text-align: center;
    transition: opacity .15s;
  }
  .caption-0-0-15:hover {
    opacity: 1;
  }